body{

font-family: Arial;
margin:0;
background:#0b0c2a;
color:white;

}

header{

background:#11123a;
text-align:center;
padding:20px;

}

header h1{

color:#00aaff;
letter-spacing:3px;

}

nav a{

color:white;
margin:15px;
text-decoration:none;
font-size:18px;

}

nav a:hover{

color:#00aaff;

}

section{

padding:40px;
text-align:center;

}

.banner img{

width:80%;
border-radius:10px;
box-shadow:0 0 20px black;

}

.character-grid{

display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;

}

.card{

background:#15164d;
width:220px;
padding:15px;
border-radius:10px;
transition:0.3s;

}

.card:hover{

transform:scale(1.05);
box-shadow:0 0 15px #00aaff;

}

.card img{

width:100%;
border-radius:10px;

}

.gallery{

display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;

}

.gallery img{

width:250px;
border-radius:10px;
transition:0.3s;

}

.gallery img:hover{

transform:scale(1.05);

}

form{

background:#15164d;
padding:20px;
width:300px;
margin:auto;
border-radius:10px;

}

input,select{

width:90%;
padding:10px;
margin:10px;

}

button{

background:#00aaff;
border:none;
padding:10px 20px;
color:white;
cursor:pointer;

}

button:hover{

background:#0077cc;

}

footer{

background:#11123a;
text-align:center;
padding:15px;

}